# Assignment 1: Python Programming Solutions

### Question 1: Generate Fibonacci Numbers

In [ ]:
def generate_fibonacci(n):
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[-1] + fib[-2])
    return fib

print("Fibonacci Numbers:", generate_fibonacci(10))

### Question 2: List and Dictionary Comprehension

In [ ]:
squares = [x**2 for x in range(1, 21)]
cubes = {x: x**3 for x in range(1, 11)}
print("Squares:", squares)
print("Cubes:", cubes)

### Question 3: File Handling

In [ ]:
import csv

with open("data.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["Name", "Age", "Score"])
    writer.writerows([
        ["Alice", 23, 85],
        ["Bob", 20, 65],
        ["Charlie", 22, 90],
        ["David", 25, 70],
        ["Eve", 21, 95]
    ])

with open("data.csv", "r") as file:
    reader = csv.reader(file)
    next(reader)  # Skip header
    rows = [row for row in reader if int(row[2]) > 75]
    print("Rows with Score > 75:", rows)

### Question 4: Array Operations

In [ ]:
import numpy as np

array = np.random.randint(10, 100, 25)
print("Array:", array)
print("Max:", array.max(), "Index:", array.argmax())
print("Min:", array.min(), "Index:", array.argmin())
array[array % 2 != 0] = -1
print("Modified Array:", array)

### Question 5: Matrix Manipulation

In [ ]:
matrix = np.random.rand(5, 5)
diagonal = np.diagonal(matrix)
above_diagonal_sum = matrix[np.triu_indices(5, k=1)].sum()
print("Matrix:\n", matrix)
print("Diagonal:", diagonal)
print("Sum Above Diagonal:", above_diagonal_sum)

### Question 6: Statistical Functions

In [ ]:
array_3d = np.random.rand(3, 4, 5)
mean = array_3d.mean()
median = np.median(array_3d)
std_dev = array_3d.std()
normalized = (array_3d - mean) / std_dev
print("Mean:", mean, "Median:", median, "Standard Deviation:", std_dev)

### Question 7: Broadcasting and Indexing

In [ ]:
A = np.random.rand(4, 4)
B = np.random.rand(4, 1)
result = A + B
print("Result of Broadcasting:\n", result)

### Question 8: DataFrame Creation and Basic Operations

In [ ]:
import pandas as pd

data = {
    "Product": ["A", "B", "C", "D", "E", "F", "G", "H"],
    "Price": [10, 20, 15, 40, 30, 25, 35, 50],
    "Quantity": [5, 3, 4, 2, 7, 6, 8, 1]
}
df = pd.DataFrame(data)
df["Total Value"] = df["Price"] * df["Quantity"]
sorted_df = df.sort_values(by="Total Value", ascending=False)
print("DataFrame with Total Value:\n", sorted_df)

### Question 9: Data Filtering

In [ ]:
import seaborn as sns

titanic = sns.load_dataset("titanic")
under_18 = titanic[titanic["age"] < 18]
female_survived = titanic[(titanic["sex"] == "female") & (titanic["survived"] == 1)]
print("Passengers under 18:\n", under_18)
print("Female Survivors:\n", female_survived)

### Question 10: Groupby Operations

In [ ]:
iris = sns.load_dataset("iris")
grouped = iris.groupby("species")[["petal_length", "sepal_width"]].mean()
print("Grouped Means:\n", grouped)

### Question 11: Handling Missing Values

In [ ]:
data_with_nan = pd.DataFrame(np.random.rand(5, 3), columns=["A", "B", "C"])
data_with_nan.iloc[1, 0] = np.nan
data_with_nan.iloc[3, 2] = np.nan
filled = data_with_nan.fillna(data_with_nan.mean())
print("DataFrame with NaN Replaced:\n", filled)

### Question 12: Merging DataFrames

In [ ]:
df1 = pd.DataFrame({"ID": [1, 2, 3], "Name": ["Alice", "Bob", "Charlie"]})
df2 = pd.DataFrame({"ID": [1, 2, 3], "Score": [85, 90, 95]})
merged = pd.merge(df1, df2, on="ID")
print("Merged DataFrame:\n", merged)

### Question 13: Line Plot

In [ ]:
import matplotlib.pyplot as plt

months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
revenue = np.random.randint(1000, 5000, 12)
plt.plot(months, revenue, label="Revenue", marker="o")
plt.title("Monthly Revenue")
plt.xlabel("Month")
plt.ylabel("Revenue ($)")
plt.legend()
plt.grid()
plt.show()

### Question 14: Bar Plot

In [ ]:
products = ["P1", "P2", "P3", "P4", "P5"]
sales_region1 = np.random.randint(100, 500, 5)
sales_region2 = np.random.randint(100, 500, 5)
x = np.arange(len(products))
plt.bar(x - 0.2, sales_region1, width=0.4, label="Region 1")
plt.bar(x + 0.2, sales_region2, width=0.4, label="Region 2")
plt.xticks(x, products)
plt.title("Sales Comparison by Region")
plt.xlabel("Product")
plt.ylabel("Sales")
plt.legend()
plt.show()

### Question 15: Scatter Plot

In [ ]:
sns.scatterplot(data=iris, x="petal_length", y="petal_width", hue="species")
plt.title("Petal Length vs Petal Width")
plt.xlabel("Petal Length")
plt.ylabel("Petal Width")
plt.show()