Question 1: Control Flow and Loops 
Write a Python function to generate the first N Fibonacci numbers. Test the                   
function with N = 10.

In [ ]:
def fibonacci(N):
    a=0
    b=1
    if N>=1:
        print(a)
    if N>=2:
        print(b)
    for i in range(N-2):
        c=a+b
        a=b
        b=c
        print(c)
N=int(input("Enter N:"))
fibonacci(N)

Question 2: List and Dictionary Comprehension 
Create a list of squares of numbers from 1 to 20 using list comprehension. Then, create 
a dictionary where the keys are numbers from 1 to 10, and the values are their cubes 
using dictionary comprehension.

In [ ]:
sq=[]
cube={}
for i in range(1,21):
    sq.append(i*i)
for i in range(1,11):
    cube[str(i)]=i*i*i
print(sq)
print(cube)

Question 3: File Handling 
Write a Python script to create a CSV file named data.csv with three columns: Name, 
Age, and Score. Write at least five rows of data, then read the file and print the rows 
where the score is above 75.

In [ ]:
import numpy as np
import csv
import pandas as pd
num=np.random.randint(5,11)
names=["Daksh","Pranav","Shreevardhan","Shaurya","Kesshav","Kritin","Animesh","Yash","Krishna","Pratyush"]
age=np.random.randint(20,101,size=num)
score=np.random.randint(1,100,size=num)
names=names[:num]
data={"Name":names,"Age":age,"Score":score}
data=pd.DataFrame(data)
print(data)
data.to_csv("data.csv",index=False)
dataset=pd.read_csv("data.csv")
for i in dataset.index:
    if dataset.loc[i,"Score"]>75:
        print(dataset.loc[i])

Question 4: Array Operations 
Create a 1D NumPy array of 25 random integers between 10 and 100. Perform the 
following: 
• Find the maximum, minimum, and their indices. 
• Replace all odd numbers in the array with -1.

In [ ]:
import numpy as np
arr=np.random.randint(10,101,size=25)
print(arr)
print("Maximum: "+str(max(arr)))
print("Minimum: "+str(min(arr)))
print("Max index: "+str(np.where(arr==max(arr)))+" Min index: "+str(np.where(arr==min(arr))))
arr[np.where(arr%2!=0)]=-1
print(arr)

Question 5: Matrix Manipulation 
Create a 5x5 matrix with random numbers. Perform the following: 
• Extract the diagonal elements. 
• Calculate the sum of all elements above the main diagonal.

In [ ]:
import numpy as np
arr=np.random.randint(1,101,size=(5,5))
diag=arr.diagonal()
sum=np.triu(arr,k=1).sum()
print(arr)
print(diag)
print(sum)

Question 6: Statistical Functions 
Generate a 3D NumPy array of shape (3, 4, 5) with random floats. Perform the following: 
• Calculate the mean, median, and standard deviation of the entire array. 
• Normalize the array by subtracting the mean and dividing by the standard 
deviation.

In [ ]:
import numpy as np
arr=np.random.uniform(10,101,size=(3,4,5))
print(arr)
mean=np.mean(arr)
median=np.median(arr)
std=np.std(arr)
print(mean)
print(median)
print(std)
print((arr-mean)/std)

Question 7: Broadcasting and Indexing 
Create two 2D arrays of shape (4, 4) and (4, 1). Use broadcasting to add these arrays 
element-wise and display the result.

In [ ]:
import numpy as np
arr1=np.random.randint(10,51,size=(4,4))
arr2=np.random.randint(10,51,size=(4,1))
print(arr1)
print(arr2)
print(arr1+arr2)

Question 8: DataFrame Creation and Basic Operations 
Create a Pandas DataFrame with three columns: Product, Price, and Quantity. Populate 
it with at least 8 rows. Perform the following: 
• Calculate the total value for each product (Price × Quantity). 
• Add a new column for the total value and sort the DataFrame by this column.

In [ ]:
import pandas as pd
product=["SOAP","KEYBOARD","HAMMER","HEADPHONES","SHOES","TOOTHPASTE","BUCKET","TOOTHBRUSH"]
price=np.random.randint(500,1000,size=8)
quantity=np.random.randint(5,20,size=8)
data={"Product":product,"Price":price,"Quantity":quantity}
final=pd.DataFrame(data)
total_price=price*quantity
final["Total Price"]=total_price
print(final)

Question 9: Data Filtering 
Load the Titanic dataset from the Kaggle Titanic dataset or any publicly available 
source. Filter and display rows where: 
• The passenger age is below 18. 
• The passenger is female and survived.

In [ ]:
import pandas as pd
titanic=pd.read_csv("Titanic-Dataset.csv")
filter_1=[]
filter_2=[]
for i in titanic.index:
    if titanic.loc[i,"Age"]<18:
        filter_1.append(titanic.loc[i])
    if titanic.loc[i,"Sex"]=="female" and titanic.loc[i,"Survived"]==1:
        filter_2.append(titanic.loc[i])
print(pd.DataFrame(filter_1))
print(pd.DataFrame(filter_2))

Question10: Groupby Operations 
Load the Iris dataset from Seaborn library or any other source like Kaggle, etc. Group the 
data by species and calculate the mean of petal length and sepal width for each group.

In [ ]:
import seaborn as sns
iris=sns.load_dataset("iris")
print("Mean of Petal Length:")
print(iris.groupby("species")["petal_length"].mean())
print("Mean of Sepal Width:")
print(iris.groupby("species")["sepal_width"].mean())

Question 11: Handling Missing Values 
Create a Pandas DataFrame with random data and intentionally introduce NaN values. 
Replace the NaN values with the column mean and display the updated DataFrame.

In [ ]:
import pandas as pd
import numpy as np
count=[]
marks=np.random.uniform(50,200,size=10)
index=[2,3,5,9]
for i in range(1,11):
    count.append(i)
dataset={"ID":count,"Marks":marks}
dataset=pd.DataFrame(dataset)
for i in index:
    dataset.loc[i,"Marks"]=np.nan
print(dataset)
dataset["Marks"].fillna(dataset["Marks"].mean(),inplace=True)
print(dataset)

Question 12: Merging DataFrames 
Create two DataFrames: one with columns ID and Name, and another with columns ID 
and Score. Merge the two DataFrames on the ID column and display the resulting 
DataFrame.

In [ ]:
import pandas as pd
import numpy as np
count=[]
for i in range(1,11):
    count.append(i)
names=["Daksh","Pranav","Shreevardhan","Shaurya","Kesshav","Kritin","Animesh","Yash","Krishna","Pratyush"]
score=np.random.randint(50,101,size=10)
data_1={"COLUMNS ID":count,"Name":names}
data_2={"COLUMNS ID":count,"Score":score}
data_1=pd.DataFrame(data_1)
data_2=pd.DataFrame(data_2)
print(data_1)
print(data_2)
result_data=pd.merge(data_1,data_2,on='COLUMNS ID')
print(result_data)

Question 13: Line Plot 
Generate a random dataset representing the monthly revenue of a company. Plot a line 
graph to show the trend, and customize it with: 
• A title, labeled axes, and a legend.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
months =["JAN 2023","FEB 2023","MARCH 2023","APRIL 2023","MAY 2023","JUNE 2023","JULY 2023","AUG 2023","SEPT 2023","OCT 2023","NOV 2023","DEC 2023"]
revenue=np.random.randint(500000,1000000,size=12)
data={"Month":months,"Revenue":revenue}
data=pd.DataFrame(data)
data.plot(x="Month",y="Revenue",figsize=(10,6))
plt.xlabel("MONTH")
plt.ylabel("REVENUE(USD)")
plt.legend(title="METRICS")
plt.title("MONTHLY REVENUE PLOT OF A COMPANY")

Question 14: Bar Plot 
Create a dataset representing the sales of five products in two different regions. Use a 
grouped bar chart to display the comparison between the regions for each product. 
Ensure that the plot is customized with: 
• A title, labeled axes, and a legend.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
products = ['Product A','Product B','Product C','Product D','Product E']
regions=['North-East','South-West']
data={'Product':[],'Region':[],'Sales':[]}
for product in products:
    for region in regions:
        data['Product'].append(product)
        data['Region'].append(region)
        data['Sales'].append(np.random.randint(1000, 5001))
data=pd.DataFrame(data)
x=np.array([0,1,2,3,4])
width=0.35
plt.bar(x-width/2, data[data['Region']=='North-East']['Sales'], width, label='North-East', color='y')
plt.bar(x+width/2, data[data['Region']=='South-West']['Sales'], width, label='South-West', color='hotpink')
plt.xlabel('Product')
plt.ylabel('Sales')
plt.title('Sales Comparison by Region for Each Product')
plt.legend(title='Region')

Question 15: Scatter Plot 
Load the Iris dataset from Seaborn library or any other source like Kaggle, etc. Create a 
scatter plot comparing any two features of the flowers (e.g., petal length vs petal width, 
sepal length vs sepal width). Customize the plot to use different colors for each species 
and add labels and a title.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns 
iris=sns.load_dataset("iris")
colors={'setosa':'red','versicolor':'green',"virginica":'yellow'}
for species in iris['species'].unique():
    data=iris[iris['species']==species]
    plt.scatter(data['petal_length'],data['petal_width'],label=species,color=colors[species])
plt.legend(title='Species')
plt.xlabel("PETAL WIDTH")
plt.ylabel("PETAL LENGTH")
plt.title("PETAL LENGTH V/S PETAL WIDTH")