In [1]:
def fibonacci_sequence(limit):

    a, b = 0, 1
    while a <= limit:
        print(a)
        a, b = b, a + b
fibonacci_sequence(10)

0
1
1
2
3
5
8

In [ ]:
squares = [num**2 for num in range(1, 21)]
cubes = {num: num**3 for num in range(1, 11)}
print(squares)
print(cubes)

In [ ]:
import csv
data = [
    ["prakash", 30, 85],
    ["aditya", 25, 60],
    ["srushti", 35, 90],
    ["prem", 40, 70],
    ["Eve", 28, 80],
    ["Frank", 33, 95],
]

with open("data.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["Name", "Age", "Score"])  #  the header row
    writer.writerows(data)


with open("data.csv", "r") as file:
    reader = csv.reader(file)
    next(reader)
    for row in reader:
        name, age, score = row
        if int(score) > 75:
            print(row)

In [ ]:
import numpy as np
array = np.random.randint(10, 101, 25)
max_value = np.max(array)
min_value = np.min(array)
max_index = np.argmax(array)
min_index = np.argmin(array)

print("Original array:", array)
print("Maximum value:", max_value)
print("Index of maximum value:", max_index)
print("Minimum value:", min_value)
print("Index of minimum value:", min_index)
odd_numbers = array % 2 != 0
array[odd_numbers] = -1
print("Array after replacing odd numbers:", array)

In [ ]:
import numpy as np
matrix = np.random.randint(1, 101, size=(5, 5))
diagonal_elements = np.diag(matrix)
upper_triangle_sum = np.sum(np.triu(matrix, k=1))
print("Original Matrix:\n", matrix)
print("\nDiagonal Elements:", diagonal_elements)
print("\nSum of elements above the main diagonal:", upper_triangle_sum)

In [ ]:
import numpy as np
array_3d = np.random.rand(3, 4, 5)
mean_value = np.mean(array_3d)
median_value = np.median(array_3d)
std_dev_value = np.std(array_3d)

print("Original 3D Array:\n", array_3d)
print("\nMean:", mean_value)
print("Median:", median_value)
print("Standard Deviation:", std_dev_value)
normalized_array = (array_3d - mean_value) / std_dev_value
print("\nNormalized Array:\n", normalized_array)

In [ ]:
import numpy as np
array_2d_1 = np.random.randint(1, 10, size=(4, 4))
array_2d_2 = np.random.randint(1, 10, size=(4, 1))

print(f"Array 1 with shape {array_2d_1.shape}:\n", array_2d_1)
print(f"\nArray 2 with shape {array_2d_2.shape}:\n", array_2d_2)
result_array = array_2d_1 + array_2d_2
print(f"\nResult with shape {result_array.shape}:\n", result_array)

In [ ]:
import pandas as pd
data = {
    "Product": ["Laptop", "Mouse", "Keyboard", "Monitor", "Headphones", "Webcam", "USB Cable", "Speaker"],
    "Price": [1200, 25, 75, 300, 100, 50, 10, 150],
    "Quantity": [5, 20, 10, 3, 8, 15, 30, 6],
}
df = pd.DataFrame(data)
df["Total Value"] = df["Price"] * df["Quantity"]
df_sorted = df.sort_values(by="Total Value", ascending=False)
print("Original DataFrame:")
print(df)
print("\nSorted DataFrame by Total Value:")
print(df_sorted)

In [ ]:
import kagglehub
path = kagglehub.dataset_download("vinicius150987/titanic3")
df_below_18 = df[df['Age'] < 18]
print("Passengers with age below 18:\n", df_below_18)
df_female_survived = df[(df['Sex'] == 'female') & (df['Survived'] == 1)]
print("\nFemale passengers who survived:\n", df_female_survived)

In [ ]:
import seaborn as sns
import pandas as pd
iris_df = sns.load_dataset('iris')
grouped_data = iris_df.groupby('species').agg({'petal_length': 'mean', 'sepal_width': 'mean'})
print(grouped_data)

In [ ]:
import pandas as pd
import numpy as np
data = np.random.rand(5, 4)
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
df.iloc[0, 0] = np.nan
df.iloc[2, 1] = np.nan
df.iloc[4, 3] = np.nan

print("Original DataFrame with NaN values:")
print(df)
df = df.fillna(df.mean())
print("\nDataFrame after replacing NaN with column mean:")
print(df)

In [ ]:
import pandas as pd
data1 = {'ID': [1, 2, 3, 4, 5],
         'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve']}
df1 = pd.DataFrame(data1)
data2 = {'ID': [3, 4, 5, 6, 7],
         'Score': [85, 92, 78, 88, 95]}
df2 = pd.DataFrame(data2)
merged_df = pd.merge(df1, df2, on='ID', how = 'outer')
print("Merged DataFrame:")
print(merged_df)

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
np.random.seed(42)  
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
revenue = np.random.randint(50000, 150000, size=12)
df = pd.DataFrame({'Month': months, 'Revenue': revenue})
plt.figure(figsize=(10, 6))
plt.plot(df['Month'], df['Revenue'], marker='o', linestyle='-', color='b', label='Monthly Revenue')
plt.title('Monthly Revenue Trend')
plt.xlabel('Month')
plt.ylabel('Revenue ($)')
plt.legend()
plt.xticks(rotation=45) 
plt.grid(True)  
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

data = {
    'Product': ['Product A', 'Product B', 'Product C', 'Product D', 'Product E'] * 2,
    'Region': ['Region 1'] * 5 + ['Region 2'] * 5,
    'Sales': np.random.randint(50, 200, size=10)  
}
df = pd.DataFrame(data)

pivot_df = pd.pivot_table(df, values='Sales', index='Product', columns='Region')
ax = pivot_df.plot(kind='bar', figsize=(10, 6))
plt.title('Sales Comparison of Products in Two Regions')
plt.xlabel('Product')
plt.ylabel('Sales')
plt.xticks(rotation=0)
plt.xlim(-1, len(pivot_df))
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
iris_df = sns.load_dataset('iris')
plt.figure(figsize=(10, 6))
for species, group in iris_df.groupby('species'):
    plt.scatter(group['petal_length'], group['petal_width'], label=species)
plt.title('Scatter Plot of Petal Length vs Petal Width')
plt.xlabel('Petal Length (cm)')
plt.ylabel('Petal Width (cm)')
plt.legend()
plt.show()